@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700&family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #face59;
  --secondary-color: #f8f8f8;
  --text-dark: #111827;
  --text-light: #6b7280;
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: "Playfair Display", serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 4rem 1rem;
}

.portfolio__container_product {
  padding: 1rem 1rem 4rem;
}

.section__header {
  font-size: 2.5rem;
  font-weight: 600;
  font-family: var(--header-font);
  color: var(--text-dark);
}

.section__subheader {
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: var(--text-light);
}

.btn {
  padding: 0.75rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  white-space: nowrap;
  color: white;
  background-color: rgb(0, 126, 126);
  border-radius: 4px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.3);
}

.btn__link {
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgb(0, 126, 126);
}

.btn__link span {
  font-size: 1.2rem;
  transition: 0.3s;
}

.btn__link:hover span {
  transform: translateX(10px);
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
}

html,
body {
  background-color: #F0F8FF;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  position: fixed;
  width: 100%;
  margin: auto;
  padding: 1rem;
  gap: 2rem;
  background-color: var(--white);
  z-index: 99;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.nav__logo a {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: var(--header-font);
  color: var(--text-dark);
  margin-left: -80px;
}

.nav__links {
  position: absolute;
  left: 0;
  top: 68px;
  padding: 2rem;
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.5s;
  background-color: rgba(255, 255, 255, 0.9);
}

.nav__links.open {
  transform: scaleY(1);
}

.link a {
  font-weight: 500;
  color: var(--text-light);
  transition: 0.3s;
}

.link a:hover {
  color: var(--text-dark);
}

.nav__links .link a {
  color: var(--text-dark);
  opacity: 0;
}

.nav__links.open .link a {
  opacity: 1;
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--text-dark);
  cursor: pointer;
}

.header__content {
  display: grid;
  gap: 2rem;
  text-align: center;
}

.header__content h1 {
  font-size: 3.5rem;
  font-weight: 500;
  font-family: var(--header-font);
  color: var(--text-dark);
}

.header__content__details p {
  margin-bottom: 1rem;
  color: var(--text-light);
}

.header__image {
  margin-top: 4rem;
  display: grid;
  grid-auto-rows: 400px;
  gap: 1rem;
}

.header__image img {
  height: 100%;
  object-fit: cover;
}

.header__image img:last-child {
  display: none;
}

.about__header {
  display: grid;
  gap: 2rem;
}

.about__image img {
  max-width: 450px;
  margin: auto;
}

.about__content .paragraph {
  margin-block: 2rem;
  color: var(--text-light);
}

.about__grid {
  padding-block: 4rem;
  display: grid;
  gap: 2rem 1rem;
  border-bottom: 1px solid var(--text-light);
}

.about__card {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.about__card span {
  padding: 8px 15px;
  font-size: 1.75rem;
  color: var(--text-dark);
  background-color: var(--secondary-color);
  border-radius: 100%;
}

.about__card h4 {
  margin-top: 4px;
  margin-bottom: 8px;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-dark);
}

.about__card p {
  color: var(--text-light);
}

.portfolio__header {
  display: grid;
  gap: 2rem;
}

.portfolio__header .paragraph {
  margin-bottom: 1rem;
  color: var(--text-light);
}

.portfolio__grid {
  margin-top: 4rem;
  display: grid;
  gap: 1rem;


}


.portfolio__card img {
  width: 350px;


  margin-inline: auto;
  border-radius: 8px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

/** Product portfolio-My Edition**/
.product-portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  font-size: 1.3rem;
  font-weight: 400;
  font-family: var(--header-font);
  color: var(--text-dark);
}

.product-portfolio ul li {
  margin-top: 5px;
  font-size: 1.3rem;
  margin-left: 15px;
}

/*logos animation slider- my addition*/

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}


.logos {
  overflow: hidden;
  padding: 60px 0;
  background: rgb(234, 240, 240);
  white-space: nowrap;
  position: relative;
  margin-right: auto;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 100px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(234, 240, 240));

}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(234, 240, 240));

}


.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: flex;

  animation: 8s slide infinite linear;
}

.logos-slide img {


  height: 40px;
  margin: 0 40px;

}


.client__header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.swiper {
  margin-top: 4rem;
  width: 100%;
}

.swiper-slide {
  max-width: 500px;
}

.client__card {
  padding: 2rem;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  background-color: var(--secondary-color);
}

.client__card img {
  max-width: 70px;
  border-radius: 100%;
}

.client__card h4 {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-dark);
}

.client__ratings {
  color: rgb(0, 126, 126);
  ;
}

.client__card p {
  margin-top: 1rem;
  color: var(--text-light);
}

.news__grid {
  margin-top: 4rem;
  display: grid;
  gap: 4rem;

}

.news__card {
  display: grid;
  gap: 1rem;
}

.news__card img {
  height: 552px;
  width: 552px;
  object-fit: cover;
}

.news__card_first img {
  height: 339.5px;
  width: 260px;
  object-fit: cover;
}

.news__card_first {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.news__card_first h4 {
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-dark);
}

.news__card_first p {
  margin-top: 1rem;
  color: var(--text-light);
}

.news__card_first .btn__link {
  margin-top: 1rem;
}


.news__card_second img {
  height: 339.5px;
  width: 260px;
  object-fit: cover;
}

.news__card_second {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.news__card_second h4 {
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-dark);
}

.news__card_second p {
  margin-top: 1rem;
  color: var(--text-light);
}

.news__card_second .btn__link {
  margin-top: 1rem;
}

.news__card h4 {
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-dark);
}

.news__card p {
  margin-bottom: 1rem;
  color: var(--text-light);
}

.contact {
  background-color: var(--secondary-color);

}

.contact__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}

.contact__container .section__header {
  max-width: 800px;
  font-size: 3.5rem;
  font-weight: 500;
}

.footer__container {
  display: grid;
  gap: 2rem;
}

.footer__col h5 a {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: var(--header-font);
  color: var(--text-dark);
}

.footer__col h4 {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-dark);
}

.footer__col p {
  margin-bottom: 1rem;
  color: var(--text-light);
}

.footer__col form {
  margin-bottom: 2rem;
  padding: 10px;
  display: flex;
  align-items: center;
  border: 1px solid var(--text-light);
  border-radius: 5px;
}

.footer__col input {
  width: 100%;
  outline: none;
  border: none;
  font-size: 1rem;
  background-color: #F0F8FF;
}

.footer__col button {
  outline: none;
  border: none;
  font-size: 1.25rem;
  color: rgb(0, 126, 126);
  background-color: transparent;
  cursor: pointer;
}

.footer__socials h4 {
  margin-bottom: 5px;
}

.footer__socials div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer__socials a {
  font-size: 1.75rem;
  color: var(--text-dark);
}

.footer__socials a:hover {
  color: var(--primary-color);
}

.footer__bar {
  padding: 1rem;
  font-size: 0.8rem;
  color: var(--text-light);
  text-align: center;
}

@media (width > 480px) {
  .about__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .portfolio__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .news__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem 1rem;
  }

  .news__card {
    grid-auto-rows: 1fr;
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width > 768px) {
  nav {
    background-color: #F0F8FF;
    position: static;
    padding: 2rem 1rem;
    box-shadow: none;
  }

  .nav__links {
    position: static;
    padding: 0;
    width: fit-content;
    flex-direction: row;
    transform: none;
    background-color: #F0F8FF;
  }

  .nav__links .link a {
    opacity: 1;
  }

  .nav__menu__btn {
    display: none;
  }

  .header__content {
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
    align-items: center;
  }

  .header__image {
    grid-template-columns: 2fr 1fr;
  }

  .header__image img:last-child {
    display: flex;
  }

  .about__header {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .about__grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .portfolio__header {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .portfolio__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .client__header {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }

  .news__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .news__card {
    grid-auto-rows: auto;
  }

  .news__card:first-child {
    grid-area: 1/1/3/2;
  }

  .news__card:not(:first-child) {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .contact__container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: left;
  }

  .footer__container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (width > 1024px) {
  .header__image {
    gap: 2rem;
  }

  .portfolio__grid {
    gap: 2rem;
  }

  .news__grid {
    gap: 4rem;
  }

  .news__card {
    gap: 2rem;
  }
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;

}



nav ul li {
  margin: 1px 5px;
  padding: 1px 10px;
}

.active,
nav ul li:hover {
  background-color: rgb(161, 241, 241);
  border-radius: 3px;
}

.active a {
  color: rgb(7, 7, 7);
}

.sub-menu-1 {
  display: none;

}


.sub-menu-1 li {
  text-decoration: none;
  list-style: none;
}

nav ul li:hover .sub-menu-1 {
  display: block;
  position: absolute;
  background: rgb(225, 226, 226);
  margin-top: 1.5px;
  margin-left: -26px;
  text-decoration: none;
  border-radius: 2px;
  box-shadow: 0.2px 0.2px 5px;
  pointer-events: initial;

}

nav ul li:hover .sub-menu-1 .options:hover {
  background: rgb(175, 174, 174);
  transition: all 0.5s ease;
  color: white;
}

nav ul li:hover .sub-menu-1 .options-2:hover {
  background: rgb(175, 174, 174);
  transition: all 0.5s ease;
  color: white;
}



nav ul li:hover .sub-menu-1 li {
  width: 175px;
  padding: 15px 25px;
  border-bottom: 1px dotted #2e2d2d;
  background: transparent;
  border-radius: 0;
  text-align: left;
}

nav ul li:hover .sub-menu-1 li:last-child {
  border-bottom: none;
}

nav ul li:hover .sub-menu-1 ul li a:hover {
  color: white;

}


.nav ul li:hover .sub-menu-1 ul li a:hover.fa-solid {
  float: right;
}

.fa-angle-right {
  float: right;
}

.sub-menu-2 {
  display: none;
}


.options:hover .sub-menu-2 {
  display: block;
  position: absolute;
  background: rgb(225, 226, 226);
  margin-top: -40px;
  margin-left: 150px;
  box-shadow: 0.2px 0.2px 5px;
  pointer-events: initial;
}

nav ul li:hover .sub-menu-1 .options-2:hover {
  background: rgb(175, 174, 174);
  transition: all 0.5s ease;
  color: white;
}


.hero-section {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 55dvh;
  /* Adjust height as needed */

}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.hero-image.active {
  opacity: 1;
}

.navigation {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.navigation-circle {
  width: 12px;
  height: 12px;
  background-color: #888;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.navigation-circle.active {
  background-color: #333;
}

/** shop-section **/
.shop-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

}

.box {
  height: 420px;
  width: 30%;
  background-color: rgb(236, 239, 241);
  padding: 20px 0px 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 1px 1px 8px;
}

.box-img {
  height: 300px;
  background-size: cover;
  background-position: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;

}

.box-content {
  margin-left: 1rem;
  margin-right: 1rem;
}

.box-content h3 {
  font-size: 1.5rem;
  color: #262727;
}

.box-content h3:hover {
  color: #1c9667;
  cursor: pointer;


}

.box-content a {
  text-decoration: none;
  color: #111827;
  font-weight: 500;
}

.box-content a:hover {
  color: #1c9667;
}


:root {
  --primary-color: #face59;
  --secondary-color: #f8f8f8;
  --text-dark: #111827;
  --text-light: #6b7280;
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: "Playfair Display", serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.sidebar {
  height: 100vh;
  width: 200px;
  position: fixed;
  background: #babec5;
}


/************** accordians sidebar ****************/






/* styles.css */

.container {
  display: flex;
  height: 100vh; /* Full viewport height */
}

#sidebar {
  background-color: #ddd;
  width: 320px;
  padding: 10px;
  overflow-y: auto;
  box-shadow: 0.5px 0.5px 15px rgb(167, 166, 166);
  border-radius: 5px;
}

#sidebar::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.accordion-header {
  background-color: #ddd;
  color: #333;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.accordion-header:hover {
  background-color: #666464;
  color: #fff;
  border-radius: 3px;
}

.accordion-header.active {
  background-color: #242424;
  color: #fff;
  font-size: 1.05rem;
}

.accordion-content {
  padding-left: 15px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}

.accordion-content a {
  text-decoration: none;
  color: inherit;
}


.accordion-item {
  padding: 8px 0;
}

.accordion-item a {
  color: #333;
  display: block;
  text-decoration: none;
  transition: color 0.5s ease, text-decoration 0.5s ease;
}

.accordion-item a:hover {
  color: #555;
  text-decoration: underline;
  font-weight: 600;
  font-size: 1.05rem;
}


.accordion-item a.active {
  color: #555;
  text-decoration: underline;
  font-weight: 600;
  font-size: 1.05rem;
  background: none;
}

#product-section {
  flex: 1; /* Take up remaining space */
  background-color: #fff; /* Example background color for product section */
  padding: 20px;
  overflow-y: auto;
}

.product-card {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: box-shadow 0.3s ease;
}

.product-card img {
  max-width: 100px;
  margin-right: 15px;
  border-radius: 5px;
}

.product-card:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination a {
  color: #333;
  padding: 10px 15px;
  text-decoration: none;
  transition: background-color 0.3s;
  margin: 0 5px;
  border-radius: 5px;
}

.pagination a.active {
  background-color: #333;
  color: #fff;
}

.pagination a:hover {
  background-color: #555;
  color: #fff;
}

.pagination a.prev,
.pagination a.next {
  display: flex;
  align-items: center;
  justify-content: center;
}
